/*_________HEADER___________*/
header {
	top: 0px;
	display: block;
	z-index: +1;
	position: fixed;
	height: 122px;
	width: 100%;
	background: #DCDCDC;
	padding: 0 0 0 0;
}
html,body {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	background-image: url(../Images/smbg.png);
	background-repeat: x;
	background-attachment: fixed;
	background-position: left;
}
img{
	z-index: -1;
	display:inline-flex; 
}
#logo {
	position: absolute;
	float: left;
	padding: 10px 0px 10px 15px;
	
}
#login_menu {
	color: black;
	padding: 0;
	text-align: center;
	margin-right: 100px;
	width: 190px;
	height: 50px;
	float: right;
	background-color: #DCDCDC;
	border-radius: 15px 15px 15px 15px;
	border: 2px;
	border-color: #000000;
	border-style: solid;
	margin-top: 10px;
}
.login-btn {
	color: black;
	font-weight: bolder;
	
}
#login-btn:hover {
	color: 	border-color:#000000;
	font-weight: bolder;
	text-decoration: underline;
	-webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg);
}

/*~~~~~~~~~~~~MAIN MENU~~~~~~~~~~~~~~~~~ */

nav {
	top:123px;
	position: fixed;
	z-index: +3;
	display: block;
	color: #000000;
	background: #DCDCDC;
	height: 60px;
	width: 100%;
	margin: 0; 
	box-shadow: 0px 0px 0px 2px #000000;
}

#menudiv {
	font-family: Lato-Light;
	font-family:'Lato-Light';
	font-weight: bold;
	width: 1000px;
	padding-left: 30px;
	margin: 0 auto;
	background-color: #DCDCDC;
	height: auto;
}
a {
	text-decoration: none;
}
li ul {
	display: none;
}

ul li a {
	display: block;
	margin-top: 3px;
	padding: 0.7em;
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	font-size: 21px;
	white-space: nowrap;
	color: #DCDCDC;
}
ul:hover a {
	color: #DCDCDC;
	
}
ul li a:hover {
	color: #DCDCDC;
}

li:hover > ul {
	display: block;
	position: absolute;
}
li:hover li {
	float: none;
}

li:hover a {
	color: black;
}

li:hover li a:hover {
	color: #000000;
/*	border-bottom: 4px;*/
	background-color:#DCDCDC;
	border-bottom-style: solid;
	border-bottom-color: #DCDCDC;
	background-image: linear-gradient(#1a2329 1%, #0188ae 140%)
}

ul ul ul {
	left: 100%;
	top: 0;
}


nav div ul {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 21px;
	list-style: none;
	height: auto;
	padding: 0;
	margin: 0;
	color: #d8d8da;
	background: #1a2329;
}

nav div ul li {
	display: block;
	position: relative;
	float: left;
	height: 60px;
	vertical-align: center;
	color: #d8d8da;
	background: #DCDCDC;
}

li ul {
	display: none;
}

ul li a {
	display: block;
	margin-top: 3px;
	padding: 0.7em;
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	font-size: 21px;
	white-space: nowrap;
	color: #000000;
}

ul:hover a {
	color: #000000;
	
}

ul li a:hover {
	color: #000000;
}

li:hover > ul {
	display: block;
	position: absolute;
}

li:hover li {
	float: none;
}

li:hover a {
	color: #000000;
}

li:hover li a:hover {
	color: #01baef;
/*	border-bottom: 4px;*/
	background-color: #2d3f4c;
	border-bottom-style: solid;
	border-bottom-color: #01baef;
	background-image: linear-gradient(#1a2329 1%, #0188ae 140%)
}

ul ul ul {
	left: 100%;
	top: 0;
}

/* --------- Content ------------*/

#content {
	position: relative;
	margin: 234px auto 0 auto;
	width: 900px;
	margin-left: 300px;
	border: 1px solid #e7e7e7;
	background-color: white;
}

aside {
	position: fixed;
	margin-top: 40px;
	float: left;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 170px;
    border: 1px solid #e7e7e7;
    background-color: #F5F5F5;
}

#active {
	background-color: #555;
	font-size: 22px;
    color: white;
	display: block;
    padding: 8px 16px ;
    text-decoration: none;
	margin: 0;
}

aside ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
	margin: 0;
    text-decoration: none;
}

aside ul li a:hover {
    background-color: #555;
    color: white;
}

.product_img{
	float: left;
	width: 499px;
	height: 299px;
}

article {
	padding: 20px;
	margin: 10px;
}

article h1 {
	font-size: 2em
}

article p {
	width: 300px;
	float: right;
	padding-right: 25px;
}

article img {
	float: left;
}

article ul {
	clear: both;
	margin: 0;
	padding-top: 20px;
}
strong {
	font-size: 25px;
}

.price_discount{
	display: inline;
}

.price {
	padding: 0;
	margin: 0;
	
	font-size: 32px;
	font-style: bold;
	font-weight: bolder;
	padding: 20px;
	color: #e20a0a;
	display: inline;
}
sub {
	text-decoration: line-through;
}

.discount{
	margin: 0;
	padding: 0;
	color: darkgray;
	font-size: 25px;
}

.price_select{
	position: inherit;
	font-size: 1em;
	font-weight: bolder;
	width: 50px;
	height: 30px;
	
}
.size_select{
	font-size: 1.5em;
	font-weight: bolder;	
}

.buy_btn {
  background: #0188ae;
  background-image: -webkit-linear-gradient(top, #0188ae, #b8352c);
  background-image: -moz-linear-gradient(top, #0188ae, #b8352c);
  background-image: -ms-linear-gradient(top, #0188ae, #b8352c);
  background-image: -o-linear-gradient(top, #0188ae, #b8352c);
  background-image: linear-gradient(to bottom, #0188ae, #1a2329);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  width: 90px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  float: right;
  margin: 20px 100px 10px 10px;
}

.buy_btn:hover {
  background: #008080;
  text-decoration: none;
}

hr {
	margin-top: 100px;
}

/* --------- FOOTER ------------*/

footer {
	/*background-color: #f5f5f5;*/
	width: 100%;
	margin: auto;
}


#footer_bottom {
	width: 98%;
	height: 50px;
	color: #d8d8da;
	padding-left: 2%;
	background-color: #1a2329;
	float: left;
	bottom: 0;
}